.PlayPage{
  align-items: center;
  justify-content: center;
}

.PlayingSong{
  margin-top: 5px;
  padding: 10px;
  display: inline-flex;
  background: #B7A790;
  text-align: left;
}

.SongTitle{
  color:white;
  font-size: 22px;
  padding-top: 5px;
  margin-bottom: 0;
}

.Artist{
  color:white;
  font-size: 14px;
  margin-bottom: 0;
}

.AlbumCover{
  padding: 15px;
  display: inline-block;
}

.LanguageSelectPlayer{
  color: white;
}

.LyricBox{
  color: white;
  text-align: left;
  align-items: center;
  justify-content: center;
  display:flex;
}